# apps/mobile env example
# Local env uses .env.local; production uses .env.production; examples use .env.example.

## PROJECT
EXPO_PUBLIC_APP_VARIANT=development

## API
EXPO_PUBLIC_API_URL=http://localhost:3095
EXPO_PUBLIC_API_PORT=3095

## WEB LINKS
EXPO_PUBLIC_WEB_URL=
EXPO_PUBLIC_WEB_PORT=3092

## DEV SERVER
EWATRADE_EXPO_PORT=3002
